@import "var.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: "Hestina";
    src: url("/resources/fonts/Hestina.otf");
}
@font-face {
    font-family: "Rashkey";
    src: url("/resources/fonts/Rashkey.otf");
}
#tasty {
    font-family: 'Dancing Script', cursive;
}
#kit {
    font-family: Rashkey !important;
}

html {
    font-size: 14px;
}
html,
body {
    width: 100%;
    height: 100%;
}

.group:hover .group-hover\:block {
    display: block;
}

.focus\:cursor-text:focus {
    cursor: text;
}

.focus\:w-64:focus {
    width: 16rem;
}

/* zendesk styles */
.h-16 {
    height: 50px;
}

.bg-orange {
    background-color: $orange-gold;
}

.orange100 {
    background-color: $orange-100;
}

//Nav Side global
#navSide {
    position: fixed;
    z-index: 50;
}

//Used in Products and Drinks
#grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

#grid > * {
    height: 350px;
}

.texto {
    position: absolute;
}

//Controls Video
.contenedor {
    width: 600px;
    height: 400.5px;
    border: 4px solid $orange;
    position: absolute;
    display: flex;
    align-items: flex-end;
}
.controls {
    width: 100%;
    height: 85px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $orange;
    opacity: 0.9;

    .a {
        fill: #d3d4ed;
    }
    .rigth {
        display: flex;
        margin-top: 3px;
        margin-right: 20px;
    }
    .left {
        display: flex;
        text-align: right;
        margin-top: 3px;
        margin-left: 20px;
    }

    .icons {
        color: #d3d4ed;
        fill: #d3d4ed;
        margin-left: 10px;
    }

    .progress {
        width: 90%;
        margin: 0 auto;
        background-color: rgb(59, 59, 59);
        height: 10px;
        border-radius: 5px;
        margin-top: 14px;
    }

    .bar {
        width: 0%;
        background-color: #35befa;
        height: 10px;
        border-radius: 5px;
        height: 10px;
        border-radius: 5px;
        margin-top: 0px;
    }

    .pointer {
        cursor: pointer;
    }
}

.central {
    position: absolute;
    font-size: 5em;
    left: 40%;
    top: 20%;
    visibility: hidden;
}
//----------//

// .bg-teal-900 {
//     background: #03363d;
// }
// .bg-gray-100 {
//     background: #f8f9f9;
// }
// .hover\:border-green-500:hover {
//     border-color: #78a300;
// }

/* SVG aguacate */
.cls-1 {
    fill: #a7aece;
}
.cls-12,
.cls-2,
.cls-6,
.cls-9 {
    fill: #fff;
}
.cls-2 {
    opacity: 0.3;
}
.cls-3 {
    fill: #8f5653;
}
.cls-4 {
    fill: #4bc190;
}
.cls-5 {
    fill: #f8dc25;
}
.cls-5,
.cls-6 {
    opacity: 0.5;
}
.cls-7 {
    fill: #515570;
}
.cls-8 {
    fill: #393c54;
}
.cls-10 {
    fill: none;
    stroke: #515570;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.cls-10,
.cls-12 {
    opacity: 0.2;
}
.cls-11 {
    fill: #f85565;
}
/* FIN SVG aguacate */
